<% @shares.each do |share| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to  share.name, share_path(share) %></h1><br />
    <i><%= share.address %></i><br />
    <p><%= share.description %></p><br />
  </div>

  <% if share.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if share.comments.last.humanized_rating.present? %>
          <b><%= share.comments.last.humanized_rating %></b> -
        <% end %>
        <%= share.comments.last.message %>
        <small><%= share.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>

  <hr />
<% end %>

