<div class="booyah-box col-10 offset-1">
  <h1><%= @share.name %></h1>
  <i><%= @share.address %></i>
  <br/><br/>
  <p><%= @share.description %></p>

<% if @share.latitude.present? && @share.longitude.present? %>

  <script>

    function initMap() {
      var myLatLng = {lat: <%= @share.latitude %>, lng: <%= @share.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'View!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDCwwg-QlQIXsZDWAceTwxCIBGCYSIMgM&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>


