<div class="booyah-box col-10 offset-1">
  <h1><%= @share.name %></h1>
  <i><%= @share.address %></i>
  <br/><br/>
  <p><%= @share.description %></p>
  <div class="float-right">
    <%= link_to 'Edit', edit_share_path(@share), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', share_path(@share), method: :delete, data: {confirm: 'Delete this?'},class: 'btn btn-danger' %>
  </div>
</div>

<br />

<% if @share.latitude.present? && @share.longitude.present? %>

  <style>
  #map {
    height: 300px;
  }
    }
  </style>
  </head>
  <body>
  <div id="map"></div>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @share.latitude %>, lng: <%= @share.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDCwwg-QlQIXsZDWAceTwxCIBGCYSIMgM&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>

<div class="clear"></div>


<h1>Comments</h1>

<div class="row">
  <% @share.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>


<div class="col-10 offset-1">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myModal">
    Add a comment
  </button>
</div>

<div class="clear"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add A Comment</h4>
      </div>
      <%= simple_form_for @comment, url: share_comments_path(@share) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

